# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a dataset which contains information on World Cup matches. Let's use the pandas commands learned in the previous lesson to learn more about our data!

## Objectives

You will be able to: 

- Use pandas methods and attributes to access information about a dataset 
- Index pandas dataframes with .loc, .iloc, and column names 
- Use a boolean mask to index pandas series and dataframes

## Load the Data

Load the file `'WorldCupMatches.csv'` as a DataFrame in pandas.

In [3]:
# Replace None with appropriate code

# Import pandas using the standard alias
import pandas as pd

# Load 'WorldCupMatches.csv' as a DataFrame
df = pd.read_csv('WorldCupMatches.csv')

## Common Methods and Attributes

Use the correct method to display the **first 7 rows** of the dataset.

In [4]:
# Your code here
df[:8]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX
6,1930,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4,0,Bolivia,,18306.0,0,0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201,1092,YUG,BOL
7,1930,17 Jul 1930 - 14:45,Group 4,Parque Central,Montevideo,USA,3,0,Paraguay,,18306.0,2,0,MACIAS Jose (ARG),APHESTEGUY Martin (URU),TEJADA Anibal (URU),201,1097,USA,PAR

Display the **last 3 rows** of the dataset.

In [5]:
# Your code here
df[-8:]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
844,2014,04 Jul 2014 - 13:00,Quarter-finals,Estadio do Maracana,Rio De Janeiro,France,0,1,Germany,,74240.0,0,1,PITANA Nestor (ARG),MAIDANA Hernan (ARG),BELATTI Juan Pablo (ARG),255953,300186485,FRA,GER
845,2014,04 Jul 2014 - 17:00,Quarter-finals,Estadio Castelao,Fortaleza,Brazil,2,1,Colombia,,60342.0,1,0,Carlos VELASCO CARBALLO (ESP),ALONSO FERNANDEZ Roberto (ESP),YUSTE Juan (ESP),255953,300186461,BRA,COL
846,2014,05 Jul 2014 - 13:00,Quarter-finals,Estadio Nacional,Brasilia,Argentina,1,0,Belgium,,68551.0,1,0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255953,300186504,ARG,BEL
847,2014,05 Jul 2014 - 17:00,Quarter-finals,Arena Fonte Nova,Salvador,Netherlands,0,0,Costa Rica,Netherlands win on penalties (4 - 3),51179.0,0,0,Ravshan IRMATOV (UZB),RASULOV Abduxamidullo (UZB),KOCHKAROV Bakhadyr (KGZ),255953,300186488,NED,CRC
848,2014,08 Jul 2014 - 17:00,Semi-finals,Estadio Mineirao,Belo Horizonte,Brazil,1,7,Germany,,58141.0,0,5,RODRIGUEZ Marco (MEX),TORRENTERA Marvin (MEX),QUINTERO Marcos (MEX),255955,300186474,BRA,GER
849,2014,09 Jul 2014 - 17:00,Semi-finals,Arena de Sao Paulo,Sao Paulo,Netherlands,0,0,Argentina,Argentina win on penalties (2 - 4),63267.0,0,0,C�neyt �AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255955,300186490,NED,ARG
850,2014,12 Jul 2014 - 17:00,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0,3,Netherlands,,68034.0,0,2,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957,300186502,BRA,NED
851,2014,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1,0,Argentina,Germany win after extra time,74738.0,0,0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959,300186501,GER,ARG

Get a concise summary of the data using `.info()`.

In [6]:
# Your code here
df.info

<bound method DataFrame.info of      Year              Datetime                     Stage  \
0    1930  13 Jul 1930 - 15:00                    Group 1
1    1930  13 Jul 1930 - 15:00                    Group 4
2    1930  14 Jul 1930 - 12:45                    Group 2
3    1930  14 Jul 1930 - 14:50                    Group 3
4    1930  15 Jul 1930 - 16:00                    Group 1
..    ...                   ...                       ...
847  2014  05 Jul 2014 - 17:00             Quarter-finals
848  2014  08 Jul 2014 - 17:00                Semi-finals
849  2014  09 Jul 2014 - 17:00                Semi-finals
850  2014  12 Jul 2014 - 17:00   Play-off for third place
851  2014  13 Jul 2014 - 16:00                      Final

                 Stadium             City Home Team Name  Home Team Goals  \
0                Pocitos      Montevideo          France                4
1         Parque Central      Montevideo             USA                3
2         Parque Central      Montevideo      Yugoslavia                2
3                Pocitos      Montevideo         Romania                3
4         Parque Central      Montevideo       Argentina                1
..                   ...              ...            ...              ...
847     Arena Fonte Nova        Salvador     Netherlands                0
848     Estadio Mineirao  Belo Horizonte          Brazil                1
849   Arena de Sao Paulo       Sao Paulo     Netherlands                0
850     Estadio Nacional        Brasilia          Brazil                0
851  Estadio do Maracana  Rio De Janeiro         Germany                1

     Away Team Goals Away Team Name                         Win conditions  \
0                  1         Mexico
1                  0        Belgium
2                  1         Brazil
3                  1           Peru
4                  0         France
..               ...            ...                                    ...
847                0     Costa Rica  Netherlands win on penalties (4 - 3)
848                7        Germany
849                0      Argentina    Argentina win on penalties (2 - 4)
850                3    Netherlands
851                0      Argentina          Germany win after extra time

     Attendance  Half-time Home Goals  Half-time Away Goals  \
0        4444.0                     3                     0
1       18346.0                     2                     0
2       24059.0                     2                     0
3        2549.0                     1                     0
4       23409.0                     0                     0
..          ...                   ...                   ...
847     51179.0                     0                     0
848     58141.0                     0                     5
849     63267.0                     0                     0
850     68034.0                     0                     2
851     74738.0                     0                     0

                    Referee                  Assistant 1  \
0    LOMBARDI Domingo (URU)        CRISTOPHE Henry (BEL)
1         MACIAS Jose (ARG)     MATEUCCI Francisco (URU)
2       TEJADA Anibal (URU)      VALLARINO Ricardo (URU)
3     WARNKEN Alberto (CHI)          LANGENUS Jean (BEL)
4       REGO Gilberto (BRA)         SAUCEDO Ulises (BOL)
..                      ...                          ...
847   Ravshan IRMATOV (UZB)  RASULOV Abduxamidullo (UZB)
848   RODRIGUEZ Marco (MEX)      TORRENTERA Marvin (MEX)
849      C�neyt �AKIR (TUR)         DURAN Bahattin (TUR)
850   HAIMOUDI Djamel (ALG)         ACHIK Redouane (MAR)
851    Nicola RIZZOLI (ITA)        Renato FAVERANI (ITA)

                    Assistant 2  RoundID    MatchID Home Team Initials  \
0           REGO Gilberto (BRA)      201       1096                FRA
1         WARNKEN Alberto (CHI)      201       1090                USA
2           BALWAY Thomas (FRA)      201       1093                YUG
3      MATEUCCI Francisco (URU)      201       1098                ROU
4    RADULESCU Constantin (ROU)      201       1085                ARG
..                          ...      ...        ...                ...
847    KOCHKAROV Bakhadyr (KGZ)   255953  300186488                NED
848       QUINTERO Marcos (MEX)   255955  300186474                BRA
849           ONGUN Tarik (TUR)   255955  300186490                NED
850     ETCHIALI Abdelhak (ALG)   255957  300186502                BRA
851        Andrea STEFANI (ITA)   255959  300186501                GER

    Away Team Initials
0                  MEX
1                  BEL
2                  BRA
3                  PER
4                  FRA
..                 ...
847                CRC
848                GER
849                ARG
850                NED
851                ARG

[852 rows x 20 columns]>

Obtain a tuple representing the **number of rows and number of columns**.

In [10]:
# Your code here
df.shape

(852, 20)

Use the appropriate attribute to get the **column names**.

In [9]:
# Your code here
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

## Selecting DataFrame Information

When looking at the DataFrame's `.head()` and `.tail()`, you might have noticed that the games are structured chronologically in the DataFrame.

Use the right selection method to display all the information from the 3rd to the 5th game (i.e. **select rows 3 through 5 inclusive**).

In [11]:
# Your code here
df[3:6]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX

Now, display the info from **game 5-9** (inclusive), but **only the `"Home Team Name"` and the `"Away Team Name"` columns**.

In [12]:
# Your code here
df.loc[5:10,('Home Team Name','Away Team Name')]

   Home Team Name Away Team Name
5           Chile         Mexico
6      Yugoslavia        Bolivia
7             USA       Paraguay
8         Uruguay           Peru
9           Chile         France
10      Argentina         Mexico

Next, we'd like the information on all the games played in **Group 3** for the **1950** World Cup.

Hint: You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

In [60]:
# Your code here
df[(df['Year']==1950) & (df['Stage']=='Group 3')]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Total Goals,Total Goals1
56,1950.0,25 Jun 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Sweden,3.0,2.0,Italy,,...,1.0,LUTZ Jean (SUI),BERANEK Alois (AUT),TEJADA Carlos (MEX),208.0,1219.0,SWE,ITA,NaN,5.0
61,1950.0,29 Jun 1950 - 15:30,Group 3,Durival de Brito,Curitiba,Sweden,2.0,2.0,Paraguay,,...,1.0,MITCHELL Robert (SCO),LEMESIC Leo (YUG),GARCIA Prudencio (USA),208.0,1228.0,SWE,PAR,NaN,4.0
65,1950.0,02 Jul 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Italy,2.0,0.0,Paraguay,,...,0.0,ELLIS Arthur (ENG),GARCIA Prudencio (USA),DE LA SALLE Charles (FRA),208.0,1218.0,ITA,PAR,NaN,2.0

Let's repeat the command above, but this time display **only the attendance column** for the Group 3 games.

In [26]:
# Your code hereGroup 
df.loc[(df['Year']==1950) & (df['Stage']=='Group 3'), 'Attendance']

56    36502.0
61     7903.0
65    25811.0
Name: Attendance, dtype: float64

Throughout the entire history of the World Cup as recorded in this dataset, **how many home games were played by the Netherlands**?

(Remember that you can use the `len()` built-in function to find the number of rows in a DataFrame.)

In [18]:
# Your code here
len(df[(df['Home Team Name']=='Netherlands') | (df['Away Team Name']=='Netherlands')])

54

**How many games were played by the Netherlands in total**?

In [ ]:
# Your code here
54

Next, let's try and figure out **how many games the USA played in the 2014 World Cup**.

In [27]:
# Your code here
len(df[((df['Home Team Name']=='USA') | (df['Away Team Name']=='USA')) & (df['Year']==2014)])

5

Now, let's try to find out **how many countries participated in the 1986 World Cup**.

Hint 1: As a first step, create a new dataset that only contains games in that year.

Hint 2: Make sure you don't end up with duplicate country names. Consider using `set()` or `.unique()`.

In [41]:
# Your code here
df1 = df[df['Year']==1986]
df1['Home Team Name'].unique()
df1['Away Team Name'].unique()

array(['Italy', 'France', 'Brazil', 'Hungary', 'Korea Republic', 'Poland',
       'Northern Ireland', 'Mexico', 'England', 'Iraq', 'Denmark',
       'Germany FR', 'Argentina', 'Soviet Union', 'Bulgaria', 'Canada',
       'Algeria', 'Morocco', 'Spain', 'Paraguay', 'Portugal', 'Belgium',
       'Uruguay', 'Scotland'], dtype=object)

## Changing Values and Creating New Columns

In World Cup history, **how many matches had 5 goals or more in total**? Create a column `"Total Goals"` to answer this question.

In [62]:
# Your code here
df['Total Goals1'] = (df['Home Team Goals'])+(df['Away Team Goals'])
len(df[(df['Total Goals1']>=5)])

147

Now **create a new column `"Half-time Goals"`** in `df` that includes both home and away values.

In [65]:
# Your code here
df['Half-Time Goals'] = (df['Half-time Home Goals']) + (df['Half-time Away Goals'])

In [66]:
# Run this cell without changes to see your new column
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials',
       'Total Goals', 'Total Goals1', 'Half-Time Goals'],
      dtype='object')

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [69]:
# Run this cell without changes

# Display all records containing the string 'Korea'
df.loc[df['Home Team Name'].str.contains('Korea'), 'Home Team Name']

#this code is breaking for some reason

ValueError: Cannot mask with non-boolean array containing NA / NaN values

Imagine that, for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

In [71]:
# Update the 'Home Team Name' and 'Home Team Initials' columns 
koreanames = ['Korea DPR', 'Korea Republic']
koreainitials = ['KOR', 'PRK']


df.loc[df['Home Team Name'].isin(koreanames), 'Home Team Name'] = 'Korea'
df.loc[df['Away Team Name'].isin(koreanames), 'Away Team Name'] = 'Korea'
df.loc[df['Home Team Initials'].isin(koreainitials), 'Home Team Initials'] = 'NSK'
df.loc[df['Away Team Initials'].isin(koreainitials), 'Away Team Initials'] = 'NSK'

Make sure to verify your answer!

In [73]:
# Check the updated columns
set(df['Home Team Initials'])

{'ALG',
 'ANG',
 'ARG',
 'AUS',
 'AUT',
 'BEL',
 'BIH',
 'BOL',
 'BRA',
 'BUL',
 'CAN',
 'CHI',
 'CHN',
 'CIV',
 'CMR',
 'COL',
 'CRC',
 'CRO',
 'CUB',
 'CZE',
 'DEN',
 'ECU',
 'ENG',
 'ESP',
 'FRA',
 'FRG',
 'GDR',
 'GER',
 'GHA',
 'GRE',
 'HAI',
 'HON',
 'HUN',
 'IRL',
 'IRN',
 'IRQ',
 'ITA',
 'JAM',
 'JPN',
 'KSA',
 'MAR',
 'MEX',
 'NED',
 'NGA',
 'NIR',
 'NOR',
 'NSK',
 'NZL',
 'PAR',
 'PER',
 'POL',
 'POR',
 'ROU',
 'RSA',
 'RUS',
 'SCG',
 'SCO',
 'SEN',
 'SRB',
 'SUI',
 'SVK',
 'SVN',
 'SWE',
 'TCH',
 'TOG',
 'TRI',
 'TUN',
 'TUR',
 'UAE',
 'UKR',
 'URS',
 'URU',
 'USA',
 'WAL',
 'YUG',
 'ZAI',
 nan,
 nan}

## Summary

In this lab, you practiced accessing data within Pandas!